<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <app-game-control (nextNumber)="handleNextEmission($event)">
        </app-game-control>
      </div>
    </div>
    <br />
    <div class="row text-center">
      <div class="col-xs-2">
        <app-odd *ngFor="let odd of oddNumbers" [givenNumber]="odd">
        </app-odd>
      </div>
      <div class="col-xs-2">
        <app-even *ngFor="let even of evenNumbers" [givenNumber]="even">
        </app-even>
      </div>
    </div>
  </div>
</div>
